<div class="home_container">
    <app-card
        gamerCover="assets/bt-4.jpg"
        gameLabel="EXCLUSIVE"
        gameType="DISC | PS5"
        gamePrice="269,90"
    >
    </app-card>
    <app-card
        gamerCover="assets/ac-cover.jpg"
        gameLabel="DIGITAL"
        gameType="DISC | PS4"
        gamePrice="R$ 369,99"
    >
    </app-card>
    <app-card
        gamerCover="assets/bt-5.jpg"
        gameLabel="NEW"
        gameType="DIGITAL | PS5"
        gamePrice="299,90"
    >
    </app-card>
    <app-card
    gamerCover="assets/bt-bad-company-2.jpg"
    gameLabel="DIGITAL"
    gameType="DISC | PS4"
    gamePrice="R$ 329,99"
    >
    </app-card>
    <app-card
        gamerCover="assets/bt-hardline.jpg"
        gameLabel="NEW"
        gameType="DIGITAL | PS5"
        gamePrice="259,90"
    >
    </app-card>
</div>
